<div class="page-header">
  <h1>Create New Project</h1>
</div>

<form action="/projects/create">
  <div class="form-group">
    <label>New Project Name:</label>
    <input name="name" type="text" class="form-control input-md" placeholder="Example: Mom's Birthday Party.">
  </div>
  <button type="submit" class="btn btn-success btn-md">Create</button>
  or
  <a href="/tasks">Cancel</a>
</form>

